
  body {
    background-color: #9DF3F8;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #inicio {
   float: left;
   width: 1200px;
   height: 800px;
  }

  .loginlabel{
    padding: 5px;
    font-family: Century Gothic;
  }

  #divusuario{
    width: 50px;
 }

  #divsenha{
    width: 10px;
  }

  #usuario{
    padding: 5px;
    font-family: Century Gothic;
    width: 200px;
  }

  #senha{
    padding: 5px;
    font-family: Century Gothic;
    width: 200px;
  }

  #cadastro {
    width: 300px;
    height: 720px;
    text-align: center;
  }

  #titulocadastro {
    font-family: Century Gothic;
    font-size: 40px;
    text-align: center;
  }

  .cadastroinput{
    height: 15px;
    width: 260px;
    padding: 15px;
    font-family: Century Gothic;
  }

  .cadastronome{
    height: 15px;
    width: 110px;
    padding: 15px;
    font-family: Century Gothic;
  }

  #loginbutton{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: Century Gothic;
  }

  #cadastrobutton{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: Century Gothic;
  }

  #loginbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #cadastrobutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #loginbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #cadastrobutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #loginbutton:hover span {
    padding-right: 25px;
  }

  #cadastrobutton:hover span {
    padding-right: 25px;
  }

  #loginbutton:hover span:after {
    opacity: 1;
    right: 0;
  }

  #cadastrobutton:hover span:after {
    opacity: 1;
    right: 0;
  }
