  #cadastro {
    width: 350px;
    height: 720px;
    float: right;
  }

  #titulocadastro {
    font-family: Century Gothic;
    font-size: 40px;
    text-align: center;
  }

  input {
    width: 150px;
  }

  #inicio {
    border: solid;
    float: left;
    width: 950px;
    height: 600px;
  }

 body {
   background-image: url(fundoDegrade.jpg);
   background-size: contain;

 }
