<style type="text/css">

  body {
    padding:0px;
    margin:0px;
    margin-top: 0px;
    margin-left: 0px;
  }

  #menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 15%;
    height:760px;
    list-style:left;
    font:80% Tahoma;
    background-color:#EDEDED;
  }

  #menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 2px 10px;
    float: none;
    font-size: 30px;
    font-family: Segoe script;
  }

  #menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #81DAF5;
  }
</style>
