  #cadastro {
    width: 300px;
    height: 720px;
    float: right;
    text-align: center;
  }

  #titulocadastro {
    font-family: Century Gothic;
    font-size: 40px;
    text-align: center;
  }

  input {
    width: 150px;
  }

  #inicio {

    float: left;
    width: 1200px;
    height: 800px;
    background-image: url(fotoinicial.jpg);
    background-repeat: no-repeat;
  }

 body {
  background-color: #9DF3F8;
  background-size: contain;
  background-repeat: no-repeat;
 }

 #cabeçalho {
     width: 800px;


 }

.cadastroinput{
  padding: 15px;
}

.usuario{
  padding: 5px;
  font-family: Century Gothic;
  width: 200px;
  padding-right: 100px;
}

.senha{
  padding: 5px;
  font-family: Century Gothic;
  width: 200px;
  padding-right: 100px;
}

.loginbutton{
  padding: 5px;
  font-family: Century Gothic;

}
