
/* menu ladinho */
body {
    padding:0px;
    margin:0px;
  }

  #menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 15,5%;
    height:685px;
    list-style:left;
    font:80%;
    font-family: Century Gothic;
    background-color:#FF5C8F; //rosamenu
  }


#menulado  {
float :  left ;
largura :  1px ;
}

#tbnotas{
position: relative;
left: 5%;
float: right;
}
#menu{
position: absolute;
float: left;
}

  #menu ul li a {
    background-color:#FF5C8F;//rosamenu
    color: #333;
    text-decoration: none;
    border-bottom:2px  hidden #FF5C8F;
    padding: 2px 10px;
    float: none;
    font-size: 30px;
    font-family: extra-expanded;
    color: white;

  }

  #menu ul li a:hover {
    background-color:#FF5C8F;
    color: white;
    border-bottom:3px solid white;
  }
  
#fotologo
img {
width: 15,5%;
height:60px
padding-top:10px;
}

#menufoto
img {
position: relative;
left:50%;
top:50%;
}

/* fim do menu ladinho */


/* tabela */
  *{
    margin:0;
    padding: 0;
  }

  body {
    background-color: #ddd;
    font-family: Century Gothic;
  }

  .tabs{
    width: 1380px;
    height: 400px;
    margin: 100px auto;
    background-color: #fff;
    position: relative;
  }

  .tabs ul{
    list-style: none;
  }

  .tabs ul li{
    float: left;
  }

  .tabs label{
    width: 75px;
    padding: 25px;
    background-color: #88deff; /* azul bonitinho*/
    display: block;
    color: black;
    cursor: pointer;
    text-align: center;
  }

  .rd_tabs:checked ~ label{
    background-color: #ff5c8f; /* rosa menu */
    transition: all 0.5s;
  }

  .rd_tabs{
    display: none
  }

  .content{
    border-top: 5px solid #ff5c8f; /* rosa menu */
    background-color: #fff;
    display: none;
    position: absolute;
    height: 320px;
    width: 800px;
    left: 0;
  }

  .rd_tabs:checked ~ .content{
    display: block;
  }

  .editable{
    margin: 30px;
    margin-left: 300px;
    margin-top: 100px;
  }

 table{
   border-collapse: collapse;
   border: 2px solid black;
   text-align: center;
 }

 table td{
   width: 100px;
 }

  .notas{
    background-color: #ede7f6;
  }

  .avaliaçoes{
    background-color: #9575cd;
  }

  .semestre{
    background-color: #9575cd;
  }

  input{
    text-align: center;
  }


  #salvar{
    padding: 10px;
    margin-left:20px;
    background-color:#88deff;
    font-family: Century Gothic;
    border: none;
    border-radius: 25px;
    box-shadow: 0 9px #999;
    transition: all 0.5s;

  }
